
# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/

# Environment Variables
.env

# Generated Data & Outputs
data/*
!data/.gitkeep

results/*
!results/.gitkeep

logs/*
!logs/.gitkeep

# IDE / Editor
.vscode/

# Temporary Files
tempCodeRunnerFile.py